.content {
    text-align: center;
    a:link, a:visited, a:hover, a:active {
		color: #ffffff;
        text-decoration: none;
	}

    margin: 0%;
    padding: 0%;

    h2 {
        background-color: rgba(0, 0, 0, 0.549);
        padding: .5rem;
    }
}

.placeholder {
    background-image: url("/Res/Landing.webp");
    
    padding: 5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}