.DiscographyDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    text-align: center;

    a:link,
    a:visited,
    a:hover,
    a:active {
        color: #ffffff;
        text-decoration: none;
    }

    h2 {
        background-color: rgba(48, 23, 80, 0.406);
        padding: .7rem;
    }
}

.DiscographyItem {
    margin: 1%;
    padding: 0 rem;

    max-width: 50rem;

    h2,
    img {
        margin: 0;
        padding: 0;
    }

    img {
        aspect-ratio: 8/3;
        object-fit: cover;
    }
}

/* Controls the sizing of the video */
.videoEmbed {
    margin: 0 auto;
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.videoEmbed iframe {
    position: relative;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@media only screen and (min-width: 600px) {
    .videoEmbed {
        max-height: 42rem;
    }
}

@media only screen and (max-width: 600px) {
    .videoEmbed {
        max-height: 24rem;
    }
}