:root {
	font-size: 16px;
	font-family: 'Courier New', Courier, monospace;
	--text-primary: #9f9f9f;
	--text-secondary: #ffffff;
	--bg-primary: #2b0b3d;
	--bg-secondary: #000000;
	--transition-speed: 200ms;
}
header {
	text-align: center;
    background-color: rgb(72, 0, 78);
	padding: .2rem;
	padding-left: 5rem;
}

body {
	color: rgb(255, 255, 255);
	background-color: rgb(39, 28, 41);
	margin: 0;
	padding: 0;
}
/* Scrollbar */
body::-webkit-scrollbar {
	width: 0.33rem;
}
body::-webkit-scrollbar-track {
	background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
	background: #6649b8;
}

main {
	margin-left: 5rem;
	padding: .5rem;
	
	img {
		width: 100%;
	}
	
	a:link, a:visited, a:hover, a:active {
		color: #8fa0dd;
        text-decoration: none;
	}
}

.centerContentsH {
	display: grid;
	place-items: center;
	text-align: center;
}


/* Navigation */
.navbar {
	position: fixed;
	background-color: var(--bg-primary);
	transition: width 600ms ease;
	overflow: scroll;
	overflow: hidden;
}
.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.navbar-item {
	width: 100%;
}
.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--text-primary);
	text-decoration: none;
	filter: grayscale(100%) opacity(0.7);
	transition: var(--transition-speed);
}

.nav-link:hover {
	background: var(--bg-secondary);
	color: var(--text-secondary);
}

.link-text {
	display: none;
	margin-left: 1rem;
}
.nav-link svg {
	width: 2rem;
	min-width: 2rem;
	margin: 0 1.5rem;
}

/* Small screens */
@media only screen and (max-width: 600px) {
	.navbar {
		bottom: 0;
		width: 100vw;
		height: 3rem;
	}
	
	.logo {
		display: none;
	}
	
	.navbar-nav {
		flex-direction: row;
	}
	
	.nav-link {
		justify-content: center;
	}
	
	main, header {
		margin: 0;
		padding-left: 9;
	}
}

/* Large screens */
@media only screen and (min-width: 600px) {
	.navbar {
		top: 0;
		width: 5rem;
		height: 100vh;
	}
	
	.navbar:hover {
		width: 16rem;
	}
	
	.navbar:hover .link-text {
		display: inline;
	}
	
	.navbar:hover .logo svg
	{
		margin-left: 11rem;
	}
	
	.navbar:hover .logo-text
	{
		left: 0px;
	}
}
